<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{{section 'head'}}}
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    {{> header}}
    <div class="container">
        {{{section 'body'}}}
    </div>
    {{> footer}}
</body>
</html>
