<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if user}}
            <li><a href="/views/home.handlebars">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            {{/if}}
        </ul>
    </nav>
</header>
