{{> header}}
<section class="welcome">
  <h1>Welcome to Your Portal</h1>
  <p>Manage your career, vacation plans, shopping list, and events all in one place!</p>
</section>

<section class="content">
  {{> career}}
  {{> vacation}}
  {{> shoppingList}}
  {{> events}}
</section>
{{> footer}}