<h1>Vacations</h1>
<form action="/vacations" method="POST">
    <div class="form-group">
        <label for="destination">Destination</label>
        <input type="text" class="form-control" id="destination" name="destination" required>
    </div>
    <div class="form-group">
        <label for="start_date">Start Date</label>
        <input type="date" class="form-control" id="start_date" name="startDate" required>
    </div>
    <div class="form-group">
        <label for="end_date">End Date</label>
        <input type="date" class="form-control" id="end_date" name="endDate" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Vacation</button>
</form>
<hr>
<ul class="list-group">
    {{#each vacations}}
        <li class="list-group-item">
            <h5>{{this.destination}}</h5>
            <p>Start Date: {{this.startDate}}</p>
            <p>End Date: {{this.endDate}}</p>
        </li>
    {{/each}}
</ul>